
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url(../images/fotofinal.jpg) no-repeat fixed;
  background-size: cover;
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 110%;
}

p, h3, article {
  background: #BEDBEB;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.wrapper {
  margin: auto;
  max-width: 700px;
  padding: 20px;
}

.button {
  background: #41A3A3;
  border-radius: 2px 8px 4px;
  color: black;
  padding: 8px;
  text-decoration: none;
}

article {
  margin-bottom: 20px;
}

.hero {
  background: url(../images/perito.jpg) no-repeat center;
  height: 400px;
}

.herotext {
  background: none;
  margin: auto;
  max-width: 400px;
  text-align: center;
}