body {
  background-image: url(fotofinal.jpg);
}

h1, h2, p, a {
  font-family: "Lucida Console", monospace
}

p {
  background: #BEDBEB;
  padding: 5px;
}

a {
  background: #BEDBEB;
  padding: 3px;
}